matplotlib
nltk
numpy
nvidia-cuda-runtime-cu12
openpyxl
pandas
pytorch-lightning
scikit-learn
torch
torchaudio
torchdata
torchinfo
torchmetrics
torchsummary
torchtext
torchvision
tqdm
streamlit
